/* UTILS */
.usr-bgc-primary {
    background-color: #1abc9c;
}

.usr-bgc-secondary {
    background-color: #2c3e50;
}

.usr-bgc-tertiary {
    background-color: #3a546d;
}

.usr-bgc-purple {
    background-color: purple;
}

/* ! DA RIMUOVERE */
.portfolio .img {
    height: 40px;
}

/* HEADER */
header {
    height: 80px;
    color: white;
}

/* JUMBOTRON SECTION */
.jumbotron .img {
    height: 200px;
    width: 200px;
}

.line {
    color: white;
    width: 25%;
}

/* FOOTER */
footer {
    height: 80px;
}