/* UTILS */
.usr-bgc-primary {
    background-color: #1abc9c;
}

.usr-bgc-secondary {
    background-color: #2c3e50;
}

.usr-bgc-tertiary {
    background-color: #3a546d;
}

.usr-bgc-purple {
    background-color: purple;
}

.usr-color-tertiary {
    color: #3a546d;
}

.line {
    width: 80px;
}

.line-sm {
    width: 50px;
}

a {
    text-decoration: none;
    color: white;
}

/* REPLACE DEFAULT COLOR */
.nav-link:hover, .nav-link {
    color: white;
}

/* ! da controllare */
#portfolio .border {
    border-color: #3a546d;
}

/* JUMBOTRON SECTION */
#jumbotron .img {
    height: 200px;
    width: 200px;
}

/* FORM SECTION */
#contact .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: #3a546d;
}

#contact ::placeholder {
    color: #3a546d;
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none;
    border-color: #3a546d;
}

.btn:hover {
    background-color: #1abc9c;
}

/* INFO SECTION */
.social {
    height: 40px;
    width: 40px;
}

/* FOOTER */
footer {
    height: 80px;
}